{% extends 'layout.twig' %}
{% block title %}Create Article{% endblock %}
{% block content %}
    <div class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                <div class="p-6 bg-white border-b border-gray-200">
                    <h1 class="text-xl font-bold mb-3">Create a new Article</h1>
                    <form method="POST" action="/articles">

                        <div class="mb-4">
                            <label for="title" class="text-xl text-gray-600">Title</label>
                            <input type="text" name="title" id="title" class="border-2 border-gray-300 p-2 w-full"
                                   value="{{ session._flash.title }}" required>
                        </div>

                        <div class="mb-3">
                            <label for="content" class="text-xl text-gray-600">Content </label>
                            <textarea id="content" name="content" class="border-2 border-gray-500 w-full p-2" rows="15"
                                      required>{{ session._flash.content }}</textarea>
                        </div>

                        {% for error in errors %}
                            <small class="text-red-500">{{ session._flash.errors }}</small><br>
                        {% endfor %}

                        <div class="flex p-1 justify-end">
                            <button type="submit" class=" p-3 mr-3 bg-gray-500 text-white hover:bg-blue-400 rounded">
                                Create
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}