{% extends 'layout.twig' %}
{% block title %}Users{% endblock %}
{% block content %}
    <section class="mb-32 text-gray-800 text-center mt-10">
        <h2 class="text-3xl font-bold mb-32">All users</h2>

        <div class="grid gap-x-6 lg:gap-x-12 md:grid-cols-3">
            {% for user in users %}
                <div class="mb-24">
                    <div class=" shadow-lg h-full block bg-white">
                        <div class="flex justify-center">
                            <div class="flex justify-center" style="margin-top: -75px">
                                <img src="https://placehold.co/400x400/black/white?text=Smile"
                                     class="rounded mx-auto shadow-lg" alt=""
                                     style="width: 150px"/>
                            </div>
                        </div>
                        <div class="p-6">
                            <h5 class="text-lg font-bold mb-4">{{ user.name | capitalize }}</h5>
                            <p class=""><strong>E-mail:</strong> {{ user.email | capitalize }}</p>
                            <p class=""><strong>Username:</strong> {{ user.username }}</p>
                            <a href="/users/{{ user.id }}">
                                <button class="bg-gray-400 hover:bg-black text-white font-bold py-2 px-4 rounded mt-2">
                                    See Articles
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}